/*includes font*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/*reset styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #222222;
}

ul,ol {
	list-style-type: none;
}

body {
	font-family: 'Lato', sans-serif;
	color: #222222;
}

body div{
	display: flex;
}

/*block styles*/

.container {
	max-width: 1140px;
	margin: 0 auto;
	flex-direction: row;
}

/*header*/

.header {
	height: 100px;
	align-items: center;
}

.header__left {
	align-items: center;	
	width: 70%;
}

.logotip {
	align-items: center;
	text-decoration: none;
}

.logotip a {
	align-items: center;
}

.logotip p {
	width: 93px;
	height: 26px;
	margin-left: 13px;
	font-family: "Lato";
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.68px;
}

.logotip p span {
	color: #f16d7f;
	font-weight: bold;
}

.header__left div {
	align-items: center;
}

.search {
	margin-left: 50px;
}

.search-btn {
	width: 87px;
	height: 38px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	justify-content: center;
	box-sizing: border-box;
}

.search-btn a {
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.search-btn a span {
	letter-spacing: 0.35px;
}

.search-btn a i {
	width: 9px;
	color: #838383;
	margin-left: 8px;
}

.search-form {
	display: flex;
}

.search-form input {
	width: 317px;
	height: 38px;
	padding-left: 16px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	color: #a4a4a4;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.search-form button {
	width: 36px;
	height: 38px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	cursor: pointer;
	color: #838383;
}

.header__right {
	justify-content: flex-end;
	align-items: center;
	width: 30%;
}

.cart-icon {
	width: 32px;
	height: 29px;
}

.button-header-right {
	width: 130px;
	height: 38px;
	background-color: #f16d7f;
	margin-left: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.38px;
}

.button-header-right i {
	margin-left: 8px;
}

/*navigation*/

.nav {
	justify-content: center;
	height: 51px;

}
.menu {
	display: flex;
	justify-content: center;
	max-width: 680px;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.menu li {
	height: 26px;
	margin-left: 38px;
}
.menu li a{
	display: block;
}

/*slider section*/

#slider {
	background-color: #e8e8e8;
}

.slider {
	background: url('img/bg.jpg');
	width: 1365px;
	height: 665px;
	justify-content: flex-start;
	align-items: center;
}

.text {
	width: 509px;
	height: 92px;
	/*border-left: 12px solid #f16d7f;*/
	margin-left: 113px;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.text::before {
	content: "";
	border-left: 12px solid #f16d7f;
	margin-right: 12px;

}

.text h1 span:first-child {
	display: inline-block;
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-top: -14px;	
}

.text h1 span:last-child {
	color: #f16d7f;
	letter-spacing: 1px;
}

/*categories section*/

.categories {
	margin-top: 78px;
	justify-content: center;
}

.categories-group-left {
	flex-direction: column;
	margin-right: 20px;
}

.categories-group-right {
	flex-direction: column;
}

.categories-group-right div, .categories-group-left div {
	margin-top: 20px;
}

.categories-item {
	position: relative;
	text-transform: uppercase;			
}

.categories-item-text {
	position: absolute;
	top: 26px;
	background-color: #ffffff;
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 18px;
	letter-spacing: 0.45px;

}

.categories-item-text span{
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}

.categories-item img{
	width: 100%;
	height: 100%;
}

/*products section*/

.products {
	margin-top: 100px;
	flex-direction: column;
	align-items: center;
}

.products h2 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.products p{
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10	px;
}

.products-grid {
	flex-wrap: wrap;
	justify-content: space-between;
}

.products-grid-items {
	margin-top: 40px;
}

.product-name {
	margin-top: 20px;
	margin-left: 14px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.price {
	margin-top: 14px;
	margin-left: 14px;
	margin-bottom: 21px;
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.products-grid-items:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	transition: all 0.2s ease-in-out;
}

.img-wrap {
	background-color: black
}

.products-grid-items:hover img{
	opacity: 0.5;
	transition: all 0.2s ease-in-out;
}

.products-btn {
	justify-content: center;
	margin-top: 60px;
	background-color: #f16d7f;
}

.products-btn a {
	text-align: center;
	width: 212px;
	height: 48px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.4px;
}

.products-btn i {
	margin-left: 9px;
}

/*banner section*/

.banner {
	height: 529px;
	margin-top: 113px;
	margin-bottom: 97px;
	background-color: #222224;
}

.banner__block-left {
	width: 767px;
	height: 529px;
	padding-top: 146px;
	background: url('img/bg-banner.jpg');
	flex-direction: column;
}

.banner__block-left div {
	margin-left: 39px;
	color: #ffffff;
	font-size: 54px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.banner__block-left span {
	color: #f16d7f;
	letter-spacing: 1.5px;
	font-weight: 700;
	padding-left: 10px;
}

.banner__block-left div:last-child {
	font-size: 32px;
	letter-spacing: 0.9px;
}

.banner__block-right {
	flex-direction: column;
	color: #fbfbfb;
}
.banner__block-right__items {
	margin-top: 48px;
	margin-left: 36px;
}

.banner__block-right__text {
	flex-direction: column;
	margin-left: 34px;
}

.banner__block-right img:nth-child(1) {
	width:  45px;
	height: 40px;
}

.banner__block-right img:nth-child(2) {
	width: 45px;
}

.banner__block-right img:nth-child(3) {
	width:  45px;	
}

.banner__block-right__text h2 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.banner__block-right__text p {
	width: 219px;
	height: 58px;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
}